<h1><%= @playlist.title %></h1>
<h4> Genre: <%= @playlist.genre %> </h4> 
<h4> Air Time: <%= @playlist.air_time %> </h4> 
<h4> hosted by: <%= @playlist.dj.dj_name %> </h4> 
<p><%= @playlist.content %></p>


 <a href="/playlists/<%= @playlist.id %>/edit" > EDIT </a>

<br>
<br>
 <a href="/playlists"> Back to playlists </a>
 <br>
 <br>
 
  <form method="POST" action="/playlists/<%= @playlist.id %>">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" value="DELETE">
 </form>